{%extends 'base.html' %}
{%load static %}
{% block title%}
KYRA|online shopping
{% endblock title %}


{%block content%}

<div class="container">
    <div class="h4 pb-2 mb-4 text-danger text-center border-bottom border-danger my-3">BESTSELLERS</div>
   
    <div class="row">
        {% for i in bestseller %}
      
        <a href="">
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="{{ i.image.url}}" class="card-img-top" alt="..." height="300px" width="400px">
                <div class="card-body">
                    <p class="card-text">{{i.name}}</p>
                </div>
            </div>
            
        </div>
        {%endfor%}
    </div>
</div>
</a>
{%endblock%}